body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.navbar{
    color: beige;
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700px;
}

.navbar p{
    margin: 0;
}

.hero{
    height: 100vh;
    color: beige;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    font-weight: 700px;
}

h1{
    margin: 0%;
}

span{
    color: #FF8080;
}